@mixin Smooth {
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

// Benefits Starts Here

.mySwiper {
  margin-top: 4rem;
  width: 100%;
  max-width: auto;
  color: #fff;
  cursor: grab;
  overflow: hidden;
  // padding: 4rem 0rem;

  .SwiperContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: row;

    .AvatarContainer {
      transform: perspective(400px) rotateY(3deg);
      position: relative;
      .LearnerPic {
        z-index: 9;
        height: 30rem;
        object-fit: cover;
        border-radius: 2rem;
        aspect-ratio: 1/1;
        width: 100%;
      }

      @media only screen and (max-width: 850px) {
        transform: perspective(0px) rotateY(0deg);
      }

      @media only screen and (max-width: 600px) {
        transform: perspective(0px) rotateY(0deg);
        // width: 100%;
      }

      .CompanyLogo {
        z-index: 10;
        position: absolute;
        height: 5.5rem;
        top: 0;
        left: 0;
        padding: 1.5rem;
        border-radius: 20px 0px 20px 0px;
        background: #fff;
      }
    }

    @media only screen and (max-width: 850px) {
      flex-direction: column;
      padding: 1rem;

      border-radius: 2.5rem;
      // border: 1px solid #111;
    }

    @media only screen and (max-width: 600px) {
      border: 1px solid #111;
    }

    .Chats {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 3rem;
      @media only screen and (max-width: 850px) {
        flex-direction: column;
      }

      .Profile {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        .Name {
          font-family: Inter;
          color: #fff;
          font-size: 1.8rem;
          font-weight: 400;
        }

        .Avatar {
          height: 4rem;
          border-radius: 100rem;
        }
      }

      .ChatContainer {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        .Chatting {
          display: flex;
          gap: 0.3rem;
          flex-direction: column;
          .ChatOne {
            border-radius: 15px 15px 0px 0px;
            background: #0812ff;
            font-weight: 500;

            font-size: 1.55rem;
            display: inline;
            padding: 15px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: auto;
            flex-wrap: nowrap;
            width: 10.5rem;
          }

          .ChatTwo {
            font-size: 1.55rem;
            border-radius: 0px 0px 15px 15px;
            background: #0812ff;
            font-weight: 500;

            display: flex;
            padding: 15px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            max-width: 40rem;
          }
        }
        .UserStatus {
          display: flex;
          justify-content: space-between;
          width: 100%;
          flex-direction: row;
          align-items: center;
          padding: 0rem 1rem;
          .AvatarBadge {
            height: 1.5rem;
          }
          .Status {
            color: #9b9b9b;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 140.625%; /* 21.094px */
          }
        }
      }
    }
  }
}

// Benefits Ends Here

// List Starts Here

.List {
  color: #fff;
  font-family: Inter;
  list-style-type: none;
  font-size: 2rem;
  line-height: 200%;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: row;
  align-items: center;
  @media only screen and (max-width: 850px) {
    font-size: 1.6rem;
    gap: 1rem;
  }
  .Marker {
    height: 2rem;
    @media only screen and (max-width: 850px) {
      height: 1.3rem;
    }
  }
}

// List Ends Here

.Wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .Container {
    margin-top: 7.5rem;
    width: 100%;
    max-width: 200rem;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 850px) {
      margin-top: 6.5rem;
    }

    .Hero {
      // background-image: url(../../public/back.jpg);
      box-shadow: 200rem 4px 4px 0px rgba(0, 0, 0, 0.75) inset;
      width: 100%;
      background: linear-gradient(180deg, #080808 0%, #040a00 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      padding: 5rem 10rem;
      display: flex;
      gap: 2.5rem;
      align-items: flex-start;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @media only screen and (max-width: 1000px) {
        padding: 6rem 2rem;
        flex-direction: column-reverse;
      }

      @media only screen and (max-width: 950px) {
        gap: 4rem;
      }

      .Banner {
        height: 50rem;
        @media only screen and (max-width: 950px) {
          width: 100%;
          height: 0rem;
          object-fit: contain;
          height: 25rem;
        }
      }
      .Left {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .Topic {
          color: #fffbfb;
          font-family: Inter;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.05rem;
          @media only screen and (max-width: 950px) {
            font-size: 1.2rem;
            color: #4dff9f;
          }
        }
        .CourseTitle {
          color: #fff;

          font-family: Inter;
          font-size: 6rem;
          line-height: 90%;
          font-weight: 600;
          letter-spacing: -0.1rem;

          @media only screen and (max-width: 950px) {
            max-width: 100%;
            line-height: 120%;
            font-size: 3.5rem;
          }
        }
        .CourseDescription {
          font-family: Inter;
          color: #989898;
          // max-width: 60%;
          font-size: 1.8rem;
          line-height: 150%;
          @media only screen and (max-width: 950px) {
            max-width: 100%;
            font-size: 1.4rem;
          }
        }

        .Button {
          @media only screen and (max-width: 850px) {
            width: 100%;
          }

          padding: 1.8rem 2rem;
          justify-content: center;
          align-items: center;
          gap: 10px;

          border-radius: 0.6rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 13.5rem;
          flex-wrap: wrap;
          flex-grow: 1;
          flex-shrink: 0;
          background-color: #0800ff;
          color: #fffbfb;
          font-family: Plus Jakarta Sans;
          font-family: Inter;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 600;
          // line-height: 200%;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.05rem;
          @include Smooth();
          &:hover {
            background-color: #110ad5;
          }
        }
      }
    }
  }

  .Alumni {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 1.5rem;
    .RegularText {
      font-size: 1.6rem;
      font-family: Inter;
      font-weight: 600;
      color: #ddd;
      letter-spacing: 0rem;
    }

    .CompanyImage {
      height: 4rem;
      opacity: 0.9;
      width: 100%;
      object-fit: contain;
    }
  }

  .Features {
    display: flex;
    padding: 5rem 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5rem;

    @media only screen and (max-width: 850px) {
      padding: 5rem 2rem;
    }
    .SectionHeading {
      text-align: center;
      font-family: Inter;
      font-size: 7rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 135px */
      letter-spacing: -2.5px;
      color: #fff;
      width: 50%;

      background: linear-gradient(180deg, #fff 0.1%, rgba(227, 228, 255, 0) 355.66%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media only screen and (max-width: 850px) {
        width: 100%;
        font-size: 3.5rem;
        letter-spacing: -1px;
      }
    }

    .FeatureCard {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      flex-direction: row;
      max-width: 80rem;
      width: 100%;
      @media only screen and (max-width: 850px) {
        flex-direction: column;
      }
      .Image {
        height: 29rem;
      }
      .MoreDetails {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #fff;
        gap: 2rem;
        .FeaturesLabel {
          font-size: 2.5rem;
          @media only screen and (max-width: 850px) {
            font-size: 2rem;
          }
        }
      }
    }

    .FeatureCardReverse {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      flex-direction: row-reverse;

      max-width: 80rem;
      width: 100%;
      @media only screen and (max-width: 850px) {
        flex-direction: column;
      }
      .Image {
        height: 29rem;
      }
      .MoreDetails {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #fff;
        gap: 2rem;
        .FeaturesLabel {
          font-size: 2.5rem;
          @media only screen and (max-width: 850px) {
            font-size: 2rem;
          }
        }
      }
    }
  }
  
}
